/* You can add global styles to this file, and also import other style files */
.container {
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    border: 1px solid lightgray;
    padding: 5px;
}
